*.sh text eol=lf
*.bash text eol=lf
git_ssh text eol=lf
repo text eol=lf
hooks/* text eol=lf
test/ export-ignore
/.github            export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
# gpg related
*.gpg filter=gpg diff=gpg
*.asc filter=gpg diff=gpg
date*.txt filter=dater
